* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: 'poppins';
}
header {
  position: sticky;
  top: 0;
  background: rgb(255, 255, 255, 0.8);
}
li {
  list-style: none;
}
a {
  color: #333;
  text-decoration: none;
  font-size: 20px;
  font-weight: 500;
}
.navbar {
  min-height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 40px;
}
.nav-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
}
.nav-branding {
  color: #333;
  font-size: 28px;
  font-weight: 800;
}
.nav-link {
  transition: 0.7s ease;
}
.nav-link:hover {
  color: dodgerblue;
}
.hamburger {
  display: none;
  cursor: pointer;
}
.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3 ease-in-out;
  transition: all 0.3 ease-in-out;
  background-color: #333;
}
.hero-image {
  max-width: 1300px;
  height: 50vh;
  border-radius: 18px;
  margin-left: 40px;
  margin-right: 40px;
  background: url(images/heroImage.jpg) center/cover no-repeat;
}
.hero-section {
  margin-top: 8rem;
  margin-bottom: 4rem;
}
.hero-sub-section1 {
  margin-left: 17rem;
  margin-top: 4rem;
  margin-bottom: 2rem;
}
.hero-sub-section2 {
  margin-left: 17rem;
  margin-top: 2rem;
}
.header1 {
  color: #2D9CDB;
  font-family: 'Poppins';
  font-size: 18px;
  font-weight: 500;
}
.header2 {
  color: #333;
  font-family: 'Poppins';
  font-size: 48px;
  font-weight: 500;
}
.header2-text {
  color: #4F4F4F;
  font-family: 'Poppins';
  font-size: 18px;
  font-weight: 400;
  margin: 2rem 0;
}
.button-header {
  color:#828282;
  font-family: 'Poppins';
  font-size: 14px;
  font-weight: 500;
  margin-bottom: 10px;
}
.input-button {
  position: relative;
  width: 354px;
  height: 57px;
}
.input {
  border-radius: 12px;
  background: #F2F2F2;
  width: 100%;
  height: 57px;
  border: none;
}
.input::placeholder {
  color: #BDBDBD;
  font-family: 'Poppins';
  font-size: 18px;
  font-weight: 500;
  padding-left: 20px;
}
.button {
  position: absolute;
  right: 2%;
  top: 6%;
  border-radius: 12px;
  background: #2D9CDB;
  padding: 0.7rem 1.5rem;
  color: #F2F2F2;
  font-family: 'Poppins';
  font-size: 18px;
  font-weight: 500;
  border: none;
}
.icon-div {
  width: 50px;
  height: 50px;
  border-radius: 16px;
  background: #2D9CDB;
  display: flex;
  align-items: center;
  justify-content: center;
}
.icon-div1 {
  background: #2D9CDB;
}
.icon-div2 {
  background: #27AE60;
}
.icon-div3 {
  background: #EB5757;
}
.icon {
  color: #fff;
}
.services-section {
  margin: 10rem;
}
.service-header {
  color: #333;
  font-family: 'Poppins';
  font-size: 36px;
  font-weight: 500;
  margin-bottom: 1rem;
}
.service-sub-header {
  color: #333;
  font-family: 'Poppins';
  font-size: 24px;
  font-weight: 700;
  margin: 1.5rem 0;
}
.sub-services {
  margin-top: 4rem;
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
}
.sub-services-item {
  flex: 1;
  max-width: 350px;
  padding: 40px 30px;
  border-radius: 24px;
  background: #FFF;
  box-shadow: 0px 10px 30px 0px rgba(51, 51, 51, 0.10);
}
.service-text {
  width: 100%;
  color: #4F4F4F;
  font-family: 'Poppins';
  font-size: 16px;
  font-weight: 400;
}
.design--section {
  margin: 10rem;
}
.getStarted {
  border-radius: 12px;
  background: #E0E0E0;
  color: #828282;
  font-family: 'Poppins';
  font-size: 16px;
  font-weight: 500;
  border: none;
  padding: 0.5em;
  margin-top: 20px;
}
.getStarted2 {
  background: #2D9CDB;
  color: #ffffff;
}

.design-container {
  display: grid;
  grid-template-columns: auto auto;
  gap: 10px;
}
.design-box2 {
  margin-top: 100px;
}
.team-images {
 display: grid;
 grid-template-columns: repeat(4, 1fr);
 grid-template-rows: repeat(4, 1fr);
 grid-gap: 20px;
}
.item img {
  width: 100%;
}
.item1 {
  grid-column: span 2;
  grid-row: 2 / span 2;
}
.item2 {
  grid-column: span 2;
  grid-row: span 2;
}
.item3 {
  grid-column: span 2;
  grid-row: span 2;
}

.design-img {
  width: 100%;
  border-radius: 24px;
}
.stack {
  color:#828282;
  font-family: 'Poppins';
  font-size: 14px;
  font-weight: 300;
  margin: 5px 0;
}
.stack-text {
  color:#333;
  font-family: 'Poppins';
  font-size: 24px;
  font-weight: 500;
}
.recom-profile {
  display: flex;
  gap: 20px;
}
.see-more {
  color: #2D9CDB;
  font-family: 'Poppins';
  font-size: 24px;
  font-weight: 500;
  display: flex;
  justify-content: end;
  align-items: center;
  margin-top: -40px;
}
.arrow {
  margin-left: 10px;
}
.team-section {
  margin: 160px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}
.team-header {
  color: #EB5757;
  font-family: 'Poppins';
  font-size: 18px;
  font-weight: 500;
}
.team-sub-header {
  color:#333;
  font-family: 'Poppins';
  font-size: 36px;
  font-weight: 500;
}
.team-text {
  color: #4F4F4F;
  font-family: 'Poppins';
  font-size: 16px;
  font-weight: 400;
  width: 273px;
}
.team-img {
  width: 300px;
  border-radius: 24px;
}
.recom-section {
  margin-left: 10rem;
  margin-right: 5rem;
  margin-bottom: 8rem;
}
.recom-text {
  color: #333;
  font-size: 36px;
  font-weight: 500;
  max-width: 800px;
  margin-bottom: 36px;
}
.recom-img {
  width: 100px;
  border-radius: 24px;
}
footer {
  background: #100E1D;
  padding-top: 40px;
  padding-bottom: 20px;
}
.footer-container {
  display: flex;
  justify-content: space-around;
  align-items: start;
  width: 100%;
  height: 100%;
}
.footer-links {
  color: #FFF;
  font-size: 18px;
  font-weight: 400;
  line-height: 36px; 
}
.logo-brands {
  color: #F2F2F2;
  font-size: 28px;
  font-weight: 800;
}
.logo-brands i {
  margin-right: 5px;
}
.engamo {
  margin-bottom: 5px;
  font-size: 28px;
  font-weight: 800px;
}
.contact-text {
  color: var(--Gray-6, #F2F2F2);
  font-size: 14px;
  font-weight: 500;
  margin-bottom: 10px;
}
.footer-text {
  text-align: center;
  margin-top: 50px;
}
small {
  color: #F2F2F2;
  text-align: center;
  font-size: 14px;
  font-weight: 500;
  text-align: center;
}
span {
  color: #F2F2F2;
  font-size: 14px;
  font-weight: 700;
  text-decoration-line: underline;
}

@media (max-width: 1200px) {
  .header1 {
    font-size: 16px;
  }
  .header2 {
    font-size: 30px;
  }
  .hero-section {
    margin-top: 4rem;
    margin-bottom: 4rem;
  }
  .hero-sub-section1 {
    margin-left: 5rem;
  }
  .hero-sub-section2 {
    margin-left: 5rem;
  }
  .header2-text {
    font-size: 16px;
  }
  .services-section {
    margin: 5rem;
  }
  .service-header {
    font-size: 30px;
  }
  .design--section {
    margin: 5rem;
  }
  .team-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
    margin: 10rem 5rem 5rem;
    
  }
  .recom-section {
    margin: 5rem;
  }

}

@media (max-width: 800px) {
  .navbar {
    padding: 0 20px;
  }
  .hamburger {
    display: block;
  }
  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }
  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }
  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
  .nav-menu {
    position: fixed;
    left: -100%;
    top: 70px;
    gap: 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgb(255, 255, 255, 0.8);
    width: 100%;
    text-align: center;
    transition: 0.3s;
  }
  .nav-item {
    margin: 16px 0;
  }
  .nav-menu.active {
    left: 0;
  }
  .hero-image {
    margin-left: 20px;
    margin-right: 20px;
  }
  .input-button {
    position: relative;
    width: 291px;
    height: 40px;
  }
  .button {
    position: absolute;
    right: 2%;
    top: 12%;
    padding: 0.8rem 1rem;
    font-size: 14px;
  }
  .hero-sub-section1 {
    margin-left: 2rem;
    margin-top: 2rem;
  }
  .hero-sub-section2 {
    margin-left: 2rem;
  }
  .header1 {
    font-size: 14px;
  }
  .header2 {
    font-size: 28px;
  }
  .hero-section {
    margin-top: 4rem;
    margin-bottom: 4rem;
  }
  .header2-text {
    font-size: 14px;
  }
  .button-header {
    font-size: 12px;
  }
  .services-section {
    margin: 0px;
  }
  .design--section {
    margin: 0px;
  }
  .service-header {
    font-size: 28px;
    margin-left: 2rem;
    margin-top: 6rem;
  }
  .sub-services {
    margin: 20px;
  }
  .design-container {
    grid-template-columns: auto;
    gap: 50px;
    margin-top: 60px;
    margin-bottom: 100px;
    margin-left: 20px;
    margin-right: 20px;
  }
  .design-box2 {
    margin-top: 0;
  }
  .see-more {
    margin-top: -60px;
    justify-content: start;
    margin-left: 20px;
  }
  .team-section {
    margin: 5rem 20px 20px;
    justify-content: start;
    align-items: start;
  }
  .footer-container {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: start;
    gap: 50px;
    padding-left: 40px;
    padding-bottom: 100px;
    padding-top: 10px;
    width: 100vw;
    height: auto;
  }
  .recom-section {
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 8rem;
    margin-bottom: 8rem;
  }
  .recom-text {
    font-size: 28px;
    max-width: 500px;
  }

}

@media (max-width: 400px) {
  .header1 {
    font-size: 12px;
  }
  .header2 {
    font-size: 24px;
  }
  .hero-section {
    margin-top: 2rem;
  }
  .header2-text {
    font-size: 12px;
  }
  .button-header {
    font-size: 10px;
  }
  .input-button {
    width: 250px;
    height: 40px;
  }
  .button {
    position: absolute;
    right: 2%;
    top: 12%;
    padding: 0.8rem 1rem;
    font-size: 14px;
  }
  .service-header {
    font-size: 24px;
  }
  .recom-text {
    font-size: 24px;
    max-width: 350px;
  }
}
@media (max-width: 300px) {
  .input-button {
    max-width: 200px;
  }
  .footer-text {
    margin: 10px;
    font-size: 10px;
  }
}