* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: 'poppins';
}
.grid-container {
  display: grid;
  grid-template-rows: auto 1fr auto;
  height: 100vh;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 40px;
  margin-right: 40px;
}
nav ul li {
  display: inline-block;
  padding: 20px;
  color: #333;
  font-family: 'Poppins';
  font-size: 24px;
  font-weight: 500;
}
.logo {
  color: #333;
  font-size: 36px;
  font-weight: 800;
}
.hero-image {
  width: 1332px;
  height: 354px;
  border-radius: 18px;
  margin-left: 20px;
  background: url(images/heroImage.jpg), lightgray 50% / cover no-repeat;
}
.hero-sub-section1 {
  margin-left: 20rem;
  margin-top: 4rem;
  margin-bottom: 2rem;
}
.hero-sub-section2 {
  margin-left: 20rem;
  margin-top: 2rem;
  margin-bottom: 6rem;
}
.header1 {
  color: #2D9CDB;
  font-family: 'Poppins';
  font-size: 18px;
  font-weight: 500;
}
.header2 {
  color: #333;
  font-family: 'Poppins';
  font-size: 48px;
  font-weight: 500;
}
.header2-text {
  color: #4F4F4F;
  font-family: 'Poppins';
  font-size: 18px;
  font-weight: 400;
  margin: 2rem 0;
}
.button-header {
  color:#828282;
  font-family: 'Poppins';
  font-size: 14px;
  font-weight: 500;
  margin-bottom: 10px;
}
.input-button {
  position: relative;
  width: 350px;
  height: 57px;
}
.input {
  border-radius: 12px;
  background: #F2F2F2;
  width: 350px;
  height: 57px;
  border: none;
}
.input::placeholder {
  color: #BDBDBD;
  font-family: 'Poppins';
  font-size: 18px;
  font-weight: 500;
  padding-left: 20px;
}
.button {
  position: absolute;
  right: 2%;
  top: 9%;
  border-radius: 12px;
  background: #2D9CDB;
  padding: 0.5rem;
  color: var(--Gray-6, #F2F2F2);
  font-family: 'Poppins';
  font-size: 18px;
  font-weight: 500;
  border: none;
}
.icon-div {
  width: 50px;
  height: 50px;
  border-radius: 16px;
  background: #2D9CDB;
  display: flex;
  align-items: center;
  justify-content: center;
}
.icon-div1 {
  background: #2D9CDB;
}
.icon-div2 {
  background: #27AE60;
}
.icon-div3 {
  background: #EB5757;
}
.icon {
  color: #fff;
}
.services-section {
  margin: 10rem;
}
.service-header {
  color: #333;
  font-family: 'Poppins';
  font-size: 36px;
  font-weight: 500;
  margin-bottom: 4rem;
}
.service-sub-header {
  color: #333;
  font-family: 'Poppins';
  font-size: 24px;
  font-weight: 700;
  margin: 1.5rem 0;
}
.sub-services {
  margin-left: 2rem;
  display: flex;
  gap: 100px;
}
.service-text {
  width: 273px;
  color: #4F4F4F;
  font-family: 'Poppins';
  font-size: 16px;
  font-weight: 400;
}
.design--section {
  margin: 10rem;
}
.getStarted {
  border-radius: 12px;
  background: #E0E0E0;
  color: #828282;
  font-family: 'Poppins';
  font-size: 16px;
  font-weight: 500;
  border: none;
  padding: 0.5em;
  margin-top: 20px;
}
.getStarted2 {
  background: #2D9CDB;
  color: #ffffff;
}

.design-container {
  display: grid;
  grid-template-columns: auto auto;
  gap: 5px;
}
.design-box {
  margin-bottom: 100px;
}
.team-images {
  display: flex;
  gap: 20px;
}
.design-img {
  width: 450px;
  border-radius: 24px;
  height: 534px;
}
.stack {
  color:#828282;
  font-family: 'Poppins';
  font-size: 14px;
  font-weight: 300;
  margin: 5px 0;
}
.stack-text {
  color:#333;
  font-family: 'Poppins';
  font-size: 24px;
  font-weight: 500;
}
.recom-profile {
  display: flex;
  gap: 20px;
}
.see-more {
  color: #2D9CDB;
  font-family: 'Poppins';
  font-size: 24px;
  font-weight: 500;
  margin-left: 850px;
}